
// Original black #231F20
$black: #231F20;

// Original white #F5F5F5
$white: #f5f5f5;

// Original red #C61D23
$red: #C61D23;

// Original green #449636
$green: #449636;

// Original orange #C66C1D
$orange: #c66c1d;